//all thebase styles for sizes mobile and upwards

* { @include border-box() }

html {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	height:100%;
	font-size: 1em; //16px
}

body {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	height:100%;
	font-family: sans-serif;
	line-height:1.5rem;
}

a {
	text-decoration: none;
}

h1, h2 {
	font-weight: 400;
	padding: 0 0 0 0;
	margin: 0 0 1.5rem 0;
}

p {
	padding: 0 0 0 0;
	margin: 0 0 1.5rem 0;
}

.container {
	width: columns(12);
	margin: 0 auto 0 auto;
	padding: 0 0 0 0;
	max-width: 32.5rem;
}