//all thebase styles for sizes mobile and upwards

* { @include border-box() }

html {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	height:100%;
	font-size: 1em; //16px
}

body {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	height:100%;
}

.container {
	width: columns(12);
	margin: 0 auto 0 auto;
	padding: 0 0 0 0;
	max-width: 32.5rem;
}