//all thebase styles for sizes mobile and upwards

* { @include border-box() }

html {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	height:100%;
	font-size: 1.125em; //18px
}

body {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	height:100%;
	font-family: "Ubuntu", sans-serif;
	line-height:1.5rem;
}

a {
	text-decoration: none;
}

h1, h2 {
	font-weight: 400;
	padding: 0 0 0 0;
	margin: 0 0 1.5rem 0;
	line-height:1.5em;
}

h1 {
	text-transform: uppercase;

}

p {
	padding: 0 0 0 0;
	margin: 0 0 1.5rem 0;
	color:#444444;
}

.row {
	width: columns(12);
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	@include clearfix();
}

.container {
	width: columns(12);
	margin: 0 auto 0 auto;
	padding: 0 1.25rem 0 1.25rem;
	max-width: 35rem;
	@include clearfix();
}

header {
	padding: 0 0 0 0;
	//background: #333333;
	position:absolute;
	top:0;
	left:0;
	width: columns(12);
}

nav {
	width: columns(12);
	padding: 1.25rem 0;

	ul {
		padding: 0 0 0 0;
		margin: 0 0 0 0;
		overflow:hidden;

		li {
			list-style:none;

			a {
				color:#999999;
				display:block;
				float:left;
				padding: 0.625rem 0.9375rem;
			}
		}
	}
}

.hero {
	padding: 9.375rem 0 6.25rem 0;
	background:#333333;
	text-align:center;
	overflow:hidden;

	h1,h2 {
		color: #ffffff;
	}

	h1 {
		font-size:3rem;
		text-transform:uppercase;
		letter-spacing:3px;
	}

	h2 {
		font-size:1.125rem;
		color:#aaaaaa;
	}

	time {
		font-size:1rem;
		text-transform:uppercase;
		color:#666666;
		letter-spacing: 2px;
	}

}

.post-list {
	padding: 0 0 0 0;
	margin: 0 0 0 0;

	li {
		list-style:none;
		border-bottom: 1px solid #eeeeee;
		padding: 3.125rem 0;
	}

	.post-title {
		margin-bottom: 1.5rem;

		h1 {
			margin-bottom: 0;

			a {
				color:#333333;
			}
		}

		time {
			color:#999999;
			float:left;
			margin-right: 0.625rem;
		}
	}

	.excerpt {
		color:#666666;
	}

	.categories {
		padding: 0 0 0 0.625rem;
		margin: 0 0 0 0;
		overflow:hidden;
		border-left: 1px solid #eeeeee;

		li {
			padding: 0 0 0 0;
			margin: 0 0 0 0;
			border:none;
			float:left;
			text-transform: uppercase;

			a {
				color: #999999;
			}
		}
	}
}

.post {
	padding-top:3.125rem;
	padding-bottom:3.125rem;
}