@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);
//Import the default settings giving access to mixins for layout and prefixes
@import "defaults.scss";

//Import all the base styles for the site
@import "queries/base.scss";

@media screen and (min-width:768px) {
	@import "queries/768.scss";
}