@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  height: 100%;
  font-size: 1.125em;
}

body {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  height: 100%;
  font-family: "Ubuntu", sans-serif;
  line-height: 1.5rem;
}

a {
  text-decoration: none;
}

h1, h2 {
  font-weight: 400;
  padding: 0 0 0 0;
  margin: 0 0 1.5rem 0;
}

h1 {
  text-transform: uppercase;
}

p {
  padding: 0 0 0 0;
  margin: 0 0 1.5rem 0;
}

.row {
  width: 100%;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
.row:before, .row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}

.container {
  width: 100%;
  margin: 0 auto 0 auto;
  padding: 0 1.25rem 0 1.25rem;
  max-width: 32.5rem;
}
.container:before, .container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}

header {
  padding: 0 0;
  background: #333333;
}

nav {
  width: 100%;
  padding: 1.25rem 0;
}
nav ul {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  color: #999999;
  display: block;
  float: left;
  padding: 0.625rem 0.9375rem;
}

.hero {
  padding: 6.25rem 0;
  background: #333333;
  text-align: center;
}
.hero h1, .hero h2 {
  color: #ffffff;
}
.hero h1 {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.hero h2 {
  font-size: 1.125rem;
  color: #aaaaaa;
}

.post-list {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
.post-list li {
  list-style: none;
  border-bottom: 1px solid #eeeeee;
  padding: 3.125rem 0;
}
.post-list .post-title {
  margin-bottom: 1.5rem;
}
.post-list .post-title h1 {
  margin-bottom: 0;
}
.post-list .post-title h1 a {
  color: #333333;
}
.post-list .post-title time {
  color: #999999;
}
.post-list .excerpt {
  color: #666666;
}
