---
layout: base
title: Paul Bird | Galaxian Development Blog
---
<div class="row hero">
	<div class="container">
		<h1>{{ site.name }}</h1>
		<h2>{{ site.description}}</h2>
	</div>
</div>

<div class="container">
	<ul class="post-list">
		{% for post in site.posts %}
		<li>
			<article>
				<div class="post-title">
					<h1><a href="{{ site.baseurl}}/{{ post.url }}">{{ post.title }}</a></h1>
					<time>{{ post.date | date_to_long_string }}</time>
					<ul class="categories">
					{% if post.categories != empty  %}
						{% for category in post.categories %}
							<li>{{ category }}</li>
						{% endfor%}
					{% else %}
						<li>Uncategorised</li>
					{% endif %}
					</ul>
				</div>
				<div class="excerpt">
					{{ post.excerpt }}
				</div>
			</article>
		</li>
		{% endfor %}
	</ul>
</div>

